flows_dashboardcontroller.json
[{"id":"5af9d7cf.c8bd58","type":"tab","label":"TM Dashboard","disabled":false,"info":""},{"id":"edf522b1.c9e08","type":"tab","label":"Tests","disabled":false,"info":""},{"id":"68c706a6.dbd968","type":"mqtt-broker","z":"","name":"timemachinecontroller","broker":"192.168.200.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a84163df.543da","type":"mqtt-broker","name":"","broker":"192.168.200.100","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f02316c0.063998","type":"keypress","z":"5af9d7cf.c8bd58","key":"","x":80,"y":200,"wires":[["d2db5fa0.917b8","251ea95c.38ef46"]]},{"id":"d2db5fa0.917b8","type":"debug","z":"5af9d7cf.c8bd58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":180,"wires":[]},{"id":"251ea95c.38ef46","type":"mqtt out","z":"5af9d7cf.c8bd58","name":"","topic":"dashboardcontroller/keypressed","qos":"","retain":"false","broker":"68c706a6.dbd968","x":310,"y":220,"wires":[]},{"id":"aa8009d6.b38718","type":"http in","z":"5af9d7cf.c8bd58","name":"","url":"/video","method":"get","upload":false,"swaggerDoc":"","x":80,"y":340,"wires":[["4fd1e95f.d81fa8","4fd5eb9a.62a7d4"]]},{"id":"114cef7c.1dbea1","type":"function","z":"5af9d7cf.c8bd58","name":"Display video description","func":"//redirect back to the calling page\n//if (typeof msg.req.query.redirectURL !== 'undefined' && msg.req.query.redirectURL !== null){\n    msg.statusCode = 303; //\n    msg.headers = {\n    Location: \"http://192.168.200.110/\" + msg.payload.videoDescription\n    }\n    node.error (\"Redirect to \" + \"http://192.168.200.110/\" + msg.payload.videoDescription);\n    delete msg.payload;\n    return msg;\n//}\n//return;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["28ea7327.24a65c","1bf1e245.92d39e"]]},{"id":"28ea7327.24a65c","type":"http response","z":"5af9d7cf.c8bd58","name":"http response","statusCode":"","headers":{},"x":580,"y":340,"wires":[]},{"id":"1bf1e245.92d39e","type":"debug","z":"5af9d7cf.c8bd58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":300,"wires":[]},{"id":"c15a47f.10437b8","type":"comment","z":"5af9d7cf.c8bd58","name":"Video description","info":"This part redirects the web page on the Dashboardcontroller to a small description page,\nwhen the video is playing","x":760,"y":340,"wires":[]},{"id":"ec57c5f7.7ab8a8","type":"comment","z":"5af9d7cf.c8bd58","name":"Play video","info":"This part builds the command to play the video and\nsends it to tmmonitor to play it via a omxplayer pipe.\n","x":740,"y":380,"wires":[]},{"id":"4fd1e95f.d81fa8","type":"function","z":"5af9d7cf.c8bd58","name":"play video","func":"//if (typeof msg.req.query.videoID !== 'undefined' && msg.req.query.videoID !== null){\n    var msg2 = {};\n    msg2.payload = {};\n    msg2.topic = \"videoplayer\";\n    msg2.payload.action = \"play\";\n    msg2.payload.video = msg.payload.videoID;\n    msg2.payload.timestamp = Date.now();\n    node.send (msg2);\n    //return msg2;\n//}","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["5f03d05d.4ee16","5495b7f6.2dcd68"]]},{"id":"24fa275d.333088","type":"inject","z":"edf522b1.c9e08","name":"","topic":"videoplayer/playthis","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["724fe77a.5a8c48"]]},{"id":"724fe77a.5a8c48","type":"mqtt out","z":"edf522b1.c9e08","name":"","topic":"","qos":"","retain":"","broker":"68c706a6.dbd968","x":330,"y":80,"wires":[]},{"id":"fcd37642.fe1748","type":"mqtt in","z":"edf522b1.c9e08","name":"","topic":"#","qos":"2","datatype":"auto","broker":"68c706a6.dbd968","x":90,"y":140,"wires":[["8856ac25.61df4"]]},{"id":"8856ac25.61df4","type":"debug","z":"edf522b1.c9e08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":340,"y":140,"wires":[]},{"id":"4fd5eb9a.62a7d4","type":"debug","z":"5af9d7cf.c8bd58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":300,"wires":[]},{"id":"5f03d05d.4ee16","type":"mqtt out","z":"5af9d7cf.c8bd58","name":"","topic":"videoplayer","qos":"","retain":"","broker":"68c706a6.dbd968","x":570,"y":380,"wires":[]},{"id":"91099b8d.f45f78","type":"comment","z":"5af9d7cf.c8bd58","name":"Video player test simulation","info":"Any video filename passed on http endpoint video, create a MQTT (Json) message to play the video\n{\"video\":\"<video file passed from http endpoint\",\"action\":\"play\"}","x":160,"y":600,"wires":[]},{"id":"508f39ff.abf648","type":"inject","z":"5af9d7cf.c8bd58","name":"Pause video","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["b73a0725.32dd68"]]},{"id":"8b9668e7.2506f8","type":"inject","z":"5af9d7cf.c8bd58","name":"Stop video","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":640,"wires":[["7eda4e30.b042d"]]},{"id":"f2cd1053.b58cb","type":"mqtt out","z":"5af9d7cf.c8bd58","name":"","topic":"","qos":"","retain":"","broker":"a84163df.543da","x":410,"y":680,"wires":[]},{"id":"7eda4e30.b042d","type":"function","z":"5af9d7cf.c8bd58","name":"stop","func":"msg.payload = {};\nmsg.payload.action = \"stop\";\nmsg.topic = \"videoplayer\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":640,"wires":[["f2cd1053.b58cb"]]},{"id":"b73a0725.32dd68","type":"function","z":"5af9d7cf.c8bd58","name":"pause","func":"msg.payload = {};\nmsg.payload.action = \"pause\";\nmsg.topic = \"videoplayer\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":680,"wires":[["f2cd1053.b58cb"]]},{"id":"b4f1cc91.61b2c","type":"inject","z":"5af9d7cf.c8bd58","name":"Play video","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":720,"wires":[["68850a46.6c9c84"]]},{"id":"68850a46.6c9c84","type":"function","z":"5af9d7cf.c8bd58","name":"play","func":"msg.payload = {};\nmsg.payload.action = \"play\";\nmsg.payload.video = \"Merger.mov\"\nmsg.payload.timestamp = Date.now();\nglobal.set (\"lastplaytimestamp\",msg.payload.timestamp);\nglobal.set (\"lastplayvideo\",msg.payload.video);\nmsg.topic = \"videoplayer\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":720,"wires":[["f2cd1053.b58cb"]]},{"id":"ca43185f.8c6a18","type":"inject","z":"5af9d7cf.c8bd58","name":"Daily backup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 02 * * *","once":false,"onceDelay":"","x":140,"y":860,"wires":[["30b94564.bcb51a"]]},{"id":"30b94564.bcb51a","type":"function","z":"5af9d7cf.c8bd58","name":"Prep data","func":"// global variables separated by semicolon to be saved\nvar globallist = \"lastplaytimestamp;lastplayvideo\";\nvar mylist = globallist.split(\";\");\n\nvar outputs = [];\nvar i;\nfor (i=0; i<mylist.length; i++) {\n    outputs.push({ key : mylist[i], type: typeof global.get(mylist[i]), value: global.get(mylist[i])});\n}\n      \n      \nmsg.payload = outputs;\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":860,"wires":[["a55a95b6.f08e68"]]},{"id":"ec263a2d.cc0e88","type":"comment","z":"5af9d7cf.c8bd58","name":"Save global variables","info":"","x":132,"y":815,"wires":[]},{"id":"10973598.ffb20a","type":"comment","z":"5af9d7cf.c8bd58","name":"Restore global variables","info":"","x":140,"y":906,"wires":[]},{"id":"167e93d6.8945dc","type":"inject","z":"5af9d7cf.c8bd58","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":120,"y":960,"wires":[["ca0e0d1.d15e3f"]]},{"id":"72b0bee9.3f86e","type":"file","z":"5af9d7cf.c8bd58","name":"","filename":"global.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":630,"y":860,"wires":[[]]},{"id":"ca0e0d1.d15e3f","type":"file in","z":"5af9d7cf.c8bd58","name":"","filename":"global.json","format":"utf8","sendError":true,"x":330,"y":960,"wires":[["e3819495.13e8a8"]]},{"id":"a55a95b6.f08e68","type":"json","z":"5af9d7cf.c8bd58","name":"","x":470,"y":860,"wires":[["72b0bee9.3f86e"]]},{"id":"e3819495.13e8a8","type":"json","z":"5af9d7cf.c8bd58","name":"","x":470,"y":960,"wires":[["32a3393.b5d19c6"]]},{"id":"32a3393.b5d19c6","type":"function","z":"5af9d7cf.c8bd58","name":"Restore","func":"var output = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    switch (msg.payload[i].type) {\n        case 'undefined': \n            // the global variable probably had no value, nothing needs to be restored\n            output.push(msg.payload[i].key + \" is undefined.\");\n            break;\n        case 'number':\n            if (msg.payload[i].value===\"NaN\") {\n                // there is no valid value to be restored, skip this variable\n                output.push(msg.payload[i].key + \" is NaN.\");\n            } else {\n                if (msg.payload[i].value.toString().indexOf(\".\")>-1) {\n                    // the value appears to be a float\n                    global.set(msg.payload[i].key,parseFloat(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                } else {\n                    global.set(msg.payload[i].key,parseInt(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                }\n            }\n            break;\n        case 'string':\n            global.set(msg.payload[i].key,msg.payload[i].value);\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n        case 'boolean':\n            global.set(msg.payload[i].key,msg.payload[i].value===\"true\");\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n    }\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":960,"wires":[[]]},{"id":"5495b7f6.2dcd68","type":"debug","z":"5af9d7cf.c8bd58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":420,"wires":[]},{"id":"52cd59b9.3ccbb8","type":"http response","z":"5af9d7cf.c8bd58","name":"","statusCode":"","headers":{},"x":270,"y":760,"wires":[]},{"id":"639c75fa.ee2ecc","type":"inject","z":"5af9d7cf.c8bd58","name":"Play video","topic":"","payload":"videoID=BigBang.mov","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":760,"wires":[["52cd59b9.3ccbb8"]]},{"id":"8b9dfac9.6ee4d8","type":"comment","z":"5af9d7cf.c8bd58","name":"192.168.200.110","info":"","x":100,"y":40,"wires":[]}]